<div class="search-container">
    <form action="/search" method="GET">
        <input type="text" name="episode" placeholder="S01E01" minlength="3" maxlength="6">
        <button type="submit">Search</button>
    </form>
</div>